<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Accueil{% endblock %} - site e-commerce symfony 6</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" >
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" >


        <script  src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}
        {% endblock %}
        <script  src="{{ asset('assets/js/script.js') }}"></script>

    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}



        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
               <div class="alert-message">
                <strong>Votre compte n'est pas activé</strong>,
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>

            </div>
            </div>
        {% endif %}
        {% include "_partials/_flash.html.twig" %}


        {% block body %}{% endblock %}

          {% include "_partials/_footer.html.twig" %}

    </body>
</html>
